[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[dev-packages]

[packages]
ipython = "*"
flask = "*"
pylint = "*"
pycodestyle = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"
coverage = "*"
pytest-cache = "*"
"pytest-pep8" = "*"

[requires]
python_version = "3.5"
